<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @positive_phrase.text %>
</p>

<%= link_to 'Edit', edit_positive_phrase_path(@positive_phrase) %> |
<%= link_to 'Back', positive_phrases_path %>
